* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Light.woff2") format("woff2"),
    url("../fonts/Inter18pt-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2"),
    url("../fonts/Inter18pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Medium.woff2") format("woff2"),
    url("../fonts/Inter18pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter18pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Bold.woff2") format("woff2"),
    url("../fonts/Inter18pt-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter18pt-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */

  /* Font family */
  --font-family-inter: "Inter", sans-serif;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}

body {
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-regular);
  color: var(--gray-700);
}

i {
  color: inherit !important;
  font-size: 1.5rem !important;
}

#logo {
  width: 50px;
}
.loader {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* start login  */
.login__methods {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.login__methods button {
  border: none;
  background: #f5f5f5;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(79, 79, 79, 0.85);
  cursor: pointer;
  transition: all 0.25s ease;
}

.login__methods button svg {
  width: 20px;
  height: 20px;
}

.login__methods button:hover {
  background: rgba(79, 79, 79, 0.1);
  transform: translateY(-2px);
}

/* end login  */
